<h1>Results#show</h1>
<p>Find me in app/views/results/show.html.erb</p>
<p>
  <strong>Prompt:</strong>
  <%= @result.prompt %>
</p>

<p>
  <strong>Generated Text:</strong>
  <%= @result.generated_text %>
</p>

<%= link_to 'Back', results_path %>
